# The MIT License (MIT).
#
# Copyright (c) 2024-2025 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
# OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
# OR OTHER DEALINGS IN THE SOFTWARE.

name: CI

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

permissions: read-all

jobs:
  tests:
    strategy:
      matrix:
        # https://github.com/actions/python-versions/blob/main/versions-manifest.json
        python_version: [ "3.9", "3.13", "3.14.0-rc.2", "pypy3.10" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction
      - name: Run tests via pytest
        run: poetry run pytest --cov=ondivi --cov-report=term-missing:skip-covered -s -vv --cov-fail-under=100
      - name: Check dependencies relevance
        run: poetry run deltaver poetry.lock --format lock

  win-test:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install Poetry
        run: |
          pip install poetry
      - name: Configure Poetry
        run: |
          poetry config virtualenvs.in-project true
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root
      - name: Run tests
        run: |
          poetry run pytest

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction
      - name: Setup go-task
        uses: pnorton5432/setup-task@v1
        with:
          task-version: 3.29.1
      - name: Install lint dependencies
        run: |
          python3 -m venv lint-venv
          lint-venv/bin/pip install -r lint-requirements.txt
      - name: Lint
        run: task lint
      - name: Checking files for compliance with editorconfig
        run: |
          VERSION="v3.0.3"
          curl -O -L -C - https://github.com/editorconfig-checker/editorconfig-checker/releases/download/$VERSION/ec-linux-amd64.tar.gz
          tar xzf ec-linux-amd64.tar.gz
          git ls-files | xargs bin/ec-linux-amd64 -v

  check-duplicates:
    runs-on: ubuntu-24.04
    name: Check duplicated code
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - name: Install jscpd
        run: npm i jscpd@4.0.5 -g
      - name: Run jscpd
        run: jscpd -p '**/*.py' -t 0

  check-spelling:
    runs-on: ubuntu-24.04
    name: Check spelling
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-node@v5
      - name: Install cspell
        run: npm i cspell@8.15.4 @cspell/dict-ru_ru@2.2.4 -g
      - name: Run cspell
        run: cspell . no-progress --show-suggestions --show-context

  gotemir:
    runs-on: ubuntu-24.04
    name: Src and tests structure check
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run gotemir
        run: |
          VERSION="0.0.3"
          curl -O -L -C - https://github.com/blablatdinov/gotemir/releases/download/$VERSION/gotemir-linux-amd64.tar
          tar xzf gotemir-linux-amd64.tar
          ./gotemir-linux-amd64 --ext .py ondivi tests/unit
        shell: bash
